*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Lato",sans-serif;
    background:#f5f5f5;
    color:#222;
}

img{
    width:100%;
    display:block;
}

h1,h2,h3{
    font-family:"IM Fell French Canon SC",serif;
}

header{
    background:#C8102E;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;
}

.logo h1{
    font-size:2rem;
}

nav ul{
    display:flex;
    gap:35px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

.hero{

    background-image:
        linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
        url("images/anfield.jpg");

    background-size:cover;
    background-position:center;

    height:600px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

    padding:30px;
}

.hero-content{
    max-width:800px;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:35px;
}

.hero-buttons{

    display:flex;
    justify-content:center;
    gap:20px;

}

.hero-buttons a{

    text-decoration:none;
    color:white;
    background:#C8102E;

    padding:15px 30px;

    border-radius:8px;

    transition:.3s;

}

.hero-buttons a:hover{
    background:#8E001C;
}

.intro{

    display:grid;
    grid-template-columns:2fr 1fr;

    gap:40px;

    padding:70px;

    align-items:center;

}

.intro-image img{

    border-radius:10px;

    box-shadow:0 5px 20px rgba(0,0,0,.25);

}

.features{

    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:30px;

    padding:0 70px 70px;

}

.feature-box{

    background:white;

    border-radius:10px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.feature-box h3{

    color:#C8102E;

    margin-bottom:15px;

}

.feature-box ul{

    list-style:none;

}

.feature-box li{

    padding:10px 0;

    border-bottom:1px solid #ddd;

}

footer{

    background:#111;

    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 60px;

}

.socials{

    display:flex;
    gap:20px;

}

.socials a{

    color:white;

    text-decoration:none;

}

.socials a:hover{

    color:#C8102E;

}

@media(max-width:900px){

header{

    flex-direction:column;

    gap:20px;

}

nav ul{

    flex-direction:column;

    align-items:center;

}

.hero{

    height:500px;

}

.hero h2{

    font-size:2.2rem;

}

.hero-buttons{

    flex-direction:column;

}

.intro{

    grid-template-columns:1fr;

}

.features{

    grid-template-columns:1fr;

}

footer{

    flex-direction:column;

    gap:15px;

    text-align:center;

}

}

.interactive, .roster-img, .panel, .roster{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    padding:0 70px 70px;
}

.roster{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.card {
    display: block;
    margin-top: 0.5rem;
}

button{
    text-decoration:none;
    color:white;
    background:#C8102E;
    padding:15px 30px;
    border-radius:8px;
    transition:.3s;
}
